<!DOCTYPE html>
<html>
<head>
  <title>Day35</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= link_to "New Link", new_link_path, class: "btn btn-default" %>


  <%= yield %>
</div>

</body>
</html>
