<!DOCTYPE html>
<html>
<head>
  <title>Day35</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= link_to "New Link", "#", class: "btn btn-default", data: {toggle: "modal", target: "#newLinkModal"} %>


  <!-- Modal -->
<div class="modal fade" id="newLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="link-form">
        <%= render partial: 'links/form' %>
      </div>
    </div>
  </div>
</div>


  <%= yield %>
</div>

</body>
</html>
